Source: apt-forktracer
Section: admin
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Build-Depends: debhelper-compat (= 12), python3, dh-python
Standards-Version: 4.3.0
Homepage: http://owsiany.pl/apt-forktracer-page
Vcs-Git: https://github.com/porridge/apt-forktracer
Vcs-Browser: https://github.com/porridge/apt-forktracer

Package: apt-forktracer
Architecture: all
Depends: python3-apt, ${python3:Depends}, ${misc:Depends}, lsb-release (>= 3.2-21)
Description: utility for tracking non-official package versions
 apt-forktracer tries to alleviate the problem that APT stops tracking official
 versions of a package after you pin it or install a newer version.
 .
 apt-forktracer displays a list of packages which are in an inconsistent state,
 or whose installed version is different than the newest official one. You can
 choose to ignore certain packages - if they match certain criteria - using
 a configuration file.
