#!/usr/bin/make -f
%:
	dh $@ --with python3 --buildsystem=pybuild

# Install the module as private.
override_dh_auto_install:
	python3 setup.py install --no-compile \
		--root=debian/apt-forktracer \
		--install-layout=deb \
		--install-scripts=/usr/bin \
		--install-lib=/usr/share/apt-forktracer
	rm -rf debian/apt-forktracer/usr/share/apt-forktracer/apt_forktracer-*.egg-info
